/* In your App.css or any other relevant CSS file */
.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;  /* Limit the content to 4 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(1.5em * 4);  /* Assuming a 1.5em line height */
}


.scrollable-content {
  max-height: 6rem; /* Adjust the height to limit the visible lines */
  overflow-y: auto; /* Enable vertical scrolling */
  padding-right: 10px; /* Optional: Add some space to the right to avoid scrollbar overlap with text */
}

/* Custom Scrollbar Styling */
.scrollbar-thin::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(16, 13, 189, 0.5); /* Color of the scrollbar handle */
  border-radius: 10px; /* Roundness of the handle */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Background of the scrollbar track */
}
